.recruitmentRoom__hireEmployee {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.recruitmentRoom__activeOffer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.recruitmentRoom__downsize {
  display: flex;
  align-items: center;
  gap: 2rem;
}
