.score-cards {
    background-color: #ecf0f3;
    height: 100vh;
  }

  .App {
    height: 100vh;
  }
  
  /* .app {
    font-family: sans-serif;
    padding: 2rem 0;
  }
  
  .app h1 {
    margin-bottom: 3rem;
    text-align: center;
  }*/
  
  .score-cards-container {
    max-width: 1200px;
    margin: 0 auto;
    /* height: 100%; */
    padding: 2em;
  }
  
  .score-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, auto));
    gap: 2rem;
  }
  
  .card {
    display: flex;
    align-items: center;
    background: #ecf0f3;
    box-shadow: 4px 4px 7px #cbced1, -4px -4px 7px white;
    border-radius: 1rem;
    padding: 1.5rem;
  }
  
  .progress {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    box-shadow: 2px 2px 4px #cbced1, -2px -2px 4px white;
    border-radius: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .person span:first-child {
    font-weight: bolder;
    margin-bottom: 0.4rem;
  }
  
  .person span:last-child {
    font-size: 0.9rem;
    color: gray;
  }
  