.topbar {
  width: 100%;
  height: var(--topbarHeight);
  background-color: hsla(var(--primaryBg), 0.7);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid hsl(var(--borderColor));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}

.topbar__title {
  font-size: 1rem;
  font-weight: bold;
  color: hsl(var(--accentColor));
}

.topbar__user {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.topbar__userImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 5px;
}

.topbar__userProfile {
}

.topbar__logout {
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* User Profile */
.userProfile {
  position: absolute;
  width: 15rem;
  top: 4rem;
  right: 1rem;
  background-color: hsl(var(--primaryBg));
  transition: var(--transition);
}

.userProfile__top {
  display: flex;
  justify-content: space-between;
}

/* .userProfile__close {
  background-color: hsl(var(--primaryBg));
  box-shadow: var(--boxShadow);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0.5rem;
  display: grid;
  place-items: center;
} */

.userProfile h4 {
  margin-bottom: 1rem;
  color: hsla(var(--secondaryTextColor), 0.4);
}

.userProfile__user {
  display: flex;
  align-items: center;
}

.userProfile__userImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.userProfile__desc {
}

hr {
  margin-top: 1rem;
}

.userProfile__logout {
  width: 100%;
  margin-top: 1rem;
  background-color: hsl(var(--accentColor)) !important;
}
