.features {
  flex: 4;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-right: 20px;
  margin-top: 2em;
  margin-bottom: 40px;
  margin-left: 10px;
}

.inputValues {
  display : flex;
}

.yesno {
  padding: 0.3cm;
}

.FormLabel {
  color: red;
}

.submitbutton {
    width: 120px;
    border: none;
    border-radius: 10%;
    padding: 5px 10px;
    font-size:x-large;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;

}