.sidebar {
  flex: 1.25;
  height: calc(100vh - 50px);
  background-color:rgb(255, 255, 255);
  position: sticky;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 15px;
  color: #9ca3af;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  color : white;
  background-color: #393145;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 30px !important;
}
