.bin_body{
    margin: 10px;
    border: 1px black solid;
    width: 180px;
    height: 140px;
}

.bin_dropdown{
    border-bottom: 1px black solid;
    height: 70%;
}

.bin_identifier{
    height: 30%;
}

.circle{
    display: flex;
    font-size: smaller;
    margin: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #5D5FEF;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
