body{
  background: none;
  overflow: hidden;
}
.inventory{
    border-right: 1px black solid;
    height:100vh;
    float: left;
    width: 12%;
    box-sizing: border-box;
  }

  .barcode{
    text-align: center;
    border-bottom: 1px black solid;
    margin: 0;
    height: max(20%,150px);
  }
  .barcode img{
    width: max(100px,80%);
    margin-top: 5%;
  }
  .sku_container{
    overflow: scroll;
    height: 80%;
  }
  
  .center{
    height:100vh;
    float: left;
    width: 65%;
    box-sizing: border-box;
  }

  .bins{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70%;
    overflow-y:auto;
  }


  .sku{
    display: flex;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 3px 2px gray;
    margin: 5%;
    height: 2em;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 0.4vw);
  }
  
  .carts{
    height: 30%;
    border-top: 1px solid black;
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .send-btn,.submit-btn:hover{
    border: 1px solid #5D5FEF;
    color: #5D5FEF;
    background-color: white;
    height: 35px;
    width: 250px;
    margin: 0px 10px;
  }

  .send-btn:hover,.submit-btn{
    border: 1px solid white;
    color: white;
    height: 35px;
    width: 250px;
    margin: 0px 10px;
    background-color: #5D5FEF;
  }

  .black{
    margin: 10px;
    height: 10%;
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  
  .white{
    margin: 10px;
    height: 10%;
    border: 1px solid white;
    color: white;
    background-color: black ;
  }
  .black:hover{
    opacity: 0.4;
    height: 10%;
    margin: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;

  }
  .white:hover{
    opacity: 0.7;
    margin: 10px;
    height: 10%;
    background-color: black ;
  }
  .order{
    margin: 10px;
    border: 1px solid black;
    height: 215px;
    width: 120px;
    text-align: center;
  }

  .order-content{
    height: 75%;
    overflow: scroll;
  }
  

  .cards{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 4px;
  }
  
  .record{
    border-left: 1px black solid;
    height:100vh;
    float: right;
    width: 23%;
    box-sizing: border-box;
  }

  .record input[type="submit"]{
    margin: 0 auto;
  }

  .record input[type="text"]{
    width: 100px;
    margin-right: 10px;
    border: black 1px solid;
  }

  .record label{
    padding: 5px;
  }

  .selected{
    border: 1px gray dashed;
  }

  .record form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: end;
    height: 70%;
    overflow: scroll;
  }
  
  .scan_container{
    height: 40%;
    text-align: center;
    border-bottom: 1px solid black;
  }
  
  .record_call_to_action{
    text-align: center;
    height: 55%;
  }

  .record_call_to_action img{
    margin: 5%;
  }

  .chat{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    width: 20%;
    height: 7%;
  }

  .chat:hover{
    margin: 0px;
    width: 20%;
    height: 7%;
  }
