.inventory{
  border-right: 1px black solid;
  height:100vh;
  float: left;
  width: 20%;
}
.barcode{
  text-align: center;
  border-bottom: 1px black solid;
  margin: 0;
}
.barcode img{
  width: max(100px,80%);
  margin: 5%;
}

.center{
  height:100vh;
  float: left;
  width: 59%;
}

.bins{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 70%;
  overflow-y:auto;
}

.carts{
  height: 30%;
  border-top: 1px solid black;
}

.record{
  border-left: 1px black solid;
  height:100vh;
  float: right;
  width: 20%;
}
